div.search-bar 
{
  grid-area: input;
  height: 70%;
}

div.search-bar input
{
  width: 98%;
  height: 98%;

  padding: 0.5ex 0.3ex 0.5ex 1ex;
}

div.search-filter
{
  grid-area: option;
}

div.search-filter select 
{
  width: 98%;
  height: 98%;

  margin-left: 1ex;
  padding: 0.5ex 1ex 0.5ex 0.3ex;
}