div.App 
{
  background-color: darkslategray;
  width: 100vw;
  height: 100vh;
}

div.switch-button
{
  position: fixed;
  top: 2ex;
  left: 2ex;

  width: 8ex;
  height: 8ex;
  background-color: brown;
}